/* Container Form */
.custom-form-container {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left; /* Form alignment to the left */
}

/* Hidden Class */
.custom-hidden {
    display: none;
}

/* Form Group */
.custom-form-group {
    margin: 15px auto;
    width: 80%;
}

/* Label */
.custom-form-group label {
    display: block;
    margin: 10px 0 5px;
    text-align: left; /* Align labels to the left */
}

/* Input, Textarea, Select */
.custom-form-group input[type="text"],
.custom-form-group input[type="file"],
.custom-form-group textarea,
.custom-form-group select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button Group */
#custom-btn-group-form-gallery {
    display: flex;
    gap: 8px; /* Space between buttons */
    justify-content: flex-start; /* Align buttons to the left */
}

/* Button Styles */
.custom-btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.custom-btn-submit {
    background-color: #2196F3;
    color: white;
}

.custom-btn-submit:hover {
    background-color: #0b7dda;
}

.custom-btn-cancel {
    background-color: #f44336;
    color: white;
}

.custom-btn-cancel:hover {
    background-color: #d32f2f;
}

/* Error Message */
.custom-error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* css galeri-table */
/* Styling untuk tabel galeri */
.gallery-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.gallery-table th, .gallery-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.gallery-table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.gallery-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.gallery-table tr:hover {
    background-color: #ddd;
}

.gallery-table img {
    max-width: 100px;
    height: auto;
}

/* Styling untuk tombol edit dan delete */
.btn-edit, .btn-delete {
    padding: 8px 12px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin: 2px;
}

.btn-edit {
    background-color: #4CAF50; /* Hijau */
}

.btn-delete {
    background-color: #f44336; /* Merah */
}

.btn-edit:hover {
    background-color: #45a049;
}

.btn-delete:hover {
    background-color: #e53935;
}

/* Styling untuk pesan jika data kosong */
#empty-data-message {
    text-align: center;
    color: #555;
    font-style: italic;
}

#main-content-galeri {
    margin-top: 20px;
}
